@model Web.OnlineShop.Entity.Contact
@{
    ViewBag.Title = "Contact";
}
<style>
    #mapCanvas {
        height: 600px;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgLI4LThnXNCYpPdcG7ESyntM19qegLZY&callback=initMap"
        type="text/javascript"></script>
<script src="/assets/client/js/controller/contactController.js"></script>
<script>
         // 12.287271, 109.196644
    //AIzaSyBgLI4LThnXNCYpPdcG7ESyntM19qegLZY
        function initMap() {
            var uluru = { lat: 12.287271, lng: 109.196644 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
</script>


<div class="row">
    <div class="col-lg-6">
        <div class="map" id="mapCanvas"></div>
    </div>

    <div class="col-lg-6">

        <div class="row ">
            <h3 class="">Liên hệ với chúng tôi</h3>
        </div>
        <div class="row ">
            <h5 class="">Địa chỉ</h5>
        </div>
        <div class="row"> <p> @Model.Address</p></div>
        <div class="row grid-container">
            <h5 class="">Điện thoại</h5>
            <br />
        </div>
        <div class="row"><a href="#">@Model.Phone</a> - <a href="#">@Model.PhoneSecond</a> </div>
        <div class="row ">
            <h5 class="">Email</h5>
        </div>
        <div class="row"> <a href=""> @Model.Email</a></div>
    </div>
</div>
