@model Web.OnlineShop.Entity.UserGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Thông tin Nhóm người dùng
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <div class="row">
        <div class="col-sm-pull-1">
            <a class="btn btn-xs btn-success float-md-left " href="@Url.Action("Edit","UserGroup",new { id=Model.Id })">Chỉnh sửa</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-xs btn-danger float-md-left " href="@Url.Action("Index","UserGroup")">Trở lại</a>
        </div>
    </div>
</p>
