@model  IEnumerable<Web.OnlineShop.Entity.Content>
@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="">
        <div class="row">
            <div class="col-lg-3">
                @{Html.RenderAction("PostsCategory", "Category");}
            </div>
            <div class="col-lg-9">
                <div class="section group">
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.Id;
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="@url"><img src="@Url.Content(item.Image)" alt="@item.Name" /></a>
                            <h2>@item.Name </h2>
                            <div class="price-details">
                            </div>
                            <br />
                            <button class="btn btn-success">Xem chi tiết</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="content_bottom"></div>
</div>

