@model Web.OnlineShop.Entity.About

@{
    ViewBag.Title = "Thông tin giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Thông tin giới thiệu
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Thông tin giới thiệu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    <div class="row">
        <div class="col-sm-pull-1">
            <a class="btn btn-xs btn-success float-md-left " href="@Url.Action("Edit","About",new { id=Model.Id })">Chỉnh sửa</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-xs btn-danger float-md-left " href="@Url.Action("Index","About")">Trở lại</a>
        </div>
    </div>
</p>
