@model  IEnumerable<Web.OnlineShop.Entity.Category>
@{
//ViewBag.Title = "Index";
//Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="categories">
        <ul>
            <h3>Danh mục bài viết</h3>
            @foreach (var item in Model)
            {
                <li><a href="/bai-viet/@item.MetaTitle-@item.Id">@item.Name (@item.Contents.Count())</a></li>
            }
        </ul>
    </div>

